body {
background-color: #e5e5ff;
font-family: "calibri";
}
#navigation {
padding: 0;
margin: 0;
}

#navigation li {
display: inline;
float: left;
}

#navigation a, #navigation a:visited {
display: block;
width: 5em;
border: 1px solid #000000;
font-size: 0.8em;
text-align: center;
text-decoration: none;
}

#pic1 img {
	box-shadow: 8px 8px 10px #aaa;
}

#pic2 img {
	border: 10px double #aaa;
}

#pic3 img {
	border: 15px solid #aaa;
	padding: 10px;
}

#pic4 img {
	border-radius: 100%;
}

#pic5 img {
	opacity: 0.5;
}


div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}



